<!DOCTYPE html>
<html lang="en">
  <head>
  	<link rel="shortcut icon" type="image/png" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJgxR6qPZAGr8Q6KWK9ocqsaDEL7VeEiXQFr-t-vaCeSgcRk0z"/>
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

	<!-- Compiled and minified materialize CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

	<!-- Compiled and minified JQuery -->
	<script
	src="https://code.jquery.com/jquery-3.2.1.min.js"
	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	crossorigin="anonymous"></script>

	<!-- Compiled and minified materialize JavaScript -->
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <title>Eat-A-Burger!</title>
  </head>
  <body>
    {{{ body }}}
  </body>
</html>